
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
	background-color:purple;
	color:white;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn, .stop {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.btn hover{
	background-color:darkgreen;
}
.btn {
    background-color: #4CAF50;
    color: white;
}

.stop {
    background-color: #f44336;
    color: white;
}

